/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fffaf0;
}
  
  /* Container */
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}
  
  /* Image Section */
.login-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.login-image img {
    max-width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
  /* Form Section */
.login-form {
    flex: 1;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
  
.login-form h2 {
    font-size: 1.8em;
    color: #8a2b2b;
    margin-bottom: 20px;
}
  
.login-form label {
    display: block;
    text-align: left;
    font-size: 0.9em;
    color: #555;
    margin-bottom: 5px;
}
  
.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}
  
.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #8a2b2b;
    border: none;
    color: #fff;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}
 
.login-form button:hover {
    background-color: #732424;
}
  